.app-wrapper{
  display: grid;
 grid-template-areas: 
 'header'
 'nav'
 'article'
 'footer';
 grid-template-rows: 100px auto auto auto;
 grid-gap: 5px;
}
.pages-wrapper{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}